@layer components {
  /* @todo hiding until chunk updating can be fully implemented */
  :global {
    .cm-chunkButtons {
      display: none;
    }
  }

  .code-editor {
    height: 100%;
    border: 1px solid var(--color-outline);
    border-radius: var(--radius-sm);

    /* this prevent the border + border radius from being overlapped by the editor itself  */
    overflow: hidden;

    &:has([contenteditable]:focus) {
      border-color: var(--color-outline-active);
    }

    :global {
      .cm-merge-b .cm-changedLine {
        background-color: red;
      }
    }
  }

  .borderless {
    border-radius: 0;
    border: none;

    &:has([contenteditable]:focus) {
      border: none;
    }
  }

  .error-messages {
    background-color: var(--color-danger-strong1);
    color: var(--color-danger-strong-text);
    padding: var(--spacing-4xs);
  }
}

.code-editor {
  :global {
    .cm-merge-a .cm-changedLine,
    .cm-merge-b .cm-mergeSpacer {
      background-color: var(--color-danger-50);
    }

    .cm-merge-b .cm-changedLine,
    .cm-merge-a .cm-mergeSpacer {
      background-color: var(--color-success-50);
    }
  }
}
