.code-editor {
  height: 100%;
  border: 1px solid var(--color-outline);
  border-radius: var(--border-radius-sm);

  /* this prevent the border + border radius from being overlapped by the editor itself  */
  overflow: hidden;

  &:has([contenteditable]:focus) {
    border-color: var(--color-outline-active);
  }
}

.error-messages {
  background-color: var(--color-danger2);
  color: var(--color-on-danger);
  padding: var(--space-2xs);
}
