@layer components {
  .container {
    --form-array-internal-space: var(--spacing-sm);

    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
  }

  .add-trigger {
    align-self: flex-start;
  }

  .item-enclosed {
    border: 1px solid var(--color-outline);
    border-radius: var(--radius-sm);
    padding: var(--form-array-internal-space);
  }

  .item-delete-trigger {
    position: absolute;
    right: var(--form-array-internal-space);
  }
}
