@layer components {
  .badge {
    display: inline-flex;
    align-items: center;
    border-radius: var(--radius-sm);
    padding: var(--spacing-5xs) var(--spacing-2xs);
    gap: var(--spacing-4xs);
  }

  .badge-pill {
    border-radius: var(--radius-full);
  }

  /* neutral */
  .neutral {
    background-color: var(--color-neutral-weak);
    color: var(--color-neutral-weak-text);
    border: 1px solid var(--color-neutral-bold);
  }

  .neutral-strong {
    background-color: var(--color-neutral-strong);
    color: var(--color-neutral-strong-text);
    border-color: var(--color-neutral-strong);
  }

  .neutral.transparent {
    background-color: transparent;
    border: transparent;
    color: var(--color-neutral-text);
  }

  /* brand */
  .brand {
    background-color: var(--color-brand-weak);
    color: var(--color-brand-weak-text);
    border: 1px solid var(--color-brand-bold);
  }

  .brand-strong {
    background-color: var(--color-brand-strong);
    color: var(--color-brand-strong-text);
    border-color: var(--color-brand-strong);
  }

  .brand.transparent {
    background-color: transparent;
    border: transparent;
    color: var(--color-brand-text);
  }

  /* brand secondary */
  .brand-secondary {
    background-color: var(--color-brand-secondary-weak);
    color: var(--color-brand-secondary-weak-text);
    border: 1px solid var(--color-brand-secondary-bold);
  }

  .brand-secondary-strong {
    background-color: var(--color-brand-secondary-strong);
    color: var(--color-brand-secondary-strong-text);
    border-color: var(--color-brand-secondary-strong);
  }

  .brand-secondary.transparent {
    background-color: transparent;
    border: transparent;
    color: var(--color-brand-secondary-text);
  }

  /* success */
  .success {
    background-color: var(--color-success-weak);
    color: var(--color-success-weak-text);
    border: 1px solid var(--color-success-bold);
  }

  .success-strong {
    background-color: var(--color-success-strong);
    color: var(--color-success-strong-text);
    border-color: var(--color-success-strong);
  }

  .success.transparent {
    background-color: transparent;
    border: transparent;
    color: var(--color-success-text);
  }

  /* info */
  .info {
    background-color: var(--color-info-weak);
    color: var(--color-info-weak-text);
    border: 1px solid var(--color-info-bold);
  }

  .info-strong {
    background-color: var(--color-info-strong);
    color: var(--color-info-strong-text);
    border-color: var(--color-info-strong);
  }

  .info.transparent {
    background-color: transparent;
    border: transparent;
    color: var(--color-info-text);
  }

  /* warning */
  .warning {
    background-color: var(--color-warning-weak);
    color: var(--color-warning-weak-text);
    border: 1px solid var(--color-warning-bold);
  }

  .warning-strong {
    background-color: var(--color-warning-strong);
    color: var(--color-warning-strong-text);
    border-color: var(--color-warning-strong);
  }

  .warning.transparent {
    background-color: transparent;
    border: transparent;
    color: var(--color-warning-text);
  }

  /* warning high */
  .warning-high {
    background-color: var(--color-warning-high-weak);
    color: var(--color-warning-high-weak-text);
    border: 1px solid var(--color-warning-high-bold);
  }

  .warning-high-strong {
    background-color: var(--color-warning-high-strong);
    color: var(--color-warning-high-strong-text);
    border-color: var(--color-warning-high-strong);
  }

  .warning-high.transparent {
    background-color: transparent;
    border: transparent;
    color: var(--color-warning-high-text);
  }

  /* danger */
  .danger {
    background-color: var(--color-danger-weak);
    color: var(--color-danger-weak-text);
    border: 1px solid var(--color-danger-bold);
  }

  .danger-strong {
    background-color: var(--color-danger-strong);
    color: var(--color-danger-strong-text);
    border-color: var(--color-danger-strong);
  }

  .danger.transparent {
    background-color: transparent;
    border: transparent;
    color: var(--color-danger-text);
  }

  .icon > i {
    /* this makes sure the icon is center with the text in the button */
    display: flex;
  }

  .badge-large {
    padding-top: var(--spacing-4xs);
    padding-bottom: var(--spacing-4xs);
    gap: var(--spacing-4xs);
  }

  .group {
    display: flex;
    gap: var(--spacing-4xs);
    flex-wrap: wrap;
  }
}
