@layer components {
  .callout {
    display: flex;
    align-items: center;
    padding: var(--spacing-2xs) var(--spacing-sm);
    border: 1px solid transparent;
    border-radius: var(--radius-sm);

    &.inherit-text {
      color: inherit;
    }
  }

  .side-border {
    border-left: var(--spacing-2xs) solid transparent;
  }

  .centered {
    display: flex;
    align-items: center;
  }

  .pre-item {
    margin-right: var(--spacing-2xs);
    display: inline-flex;
  }

  .post-item {
    margin-left: auto;
    display: inline-flex;
  }

  /* neutral */
  .neutral {
    border-color: var(--color-neutral-weak-text);
    background-color: var(--color-neutral-weak);
    color: var(--color-neutral-weak-text);
  }

  .neutral-strong {
    background-color: var(--color-neutral-strong);
    color: var(--color-neutral-strong-text);
  }

  /* brand */
  .brand {
    border-color: var(--color-brand-weak-text);
    background-color: var(--color-brand-weak);
    color: var(--color-brand-weak-text);
  }

  .brand-strong {
    background-color: var(--color-brand-strong);
    color: var(--color-brand-strong-text);
  }

  /* brand secondary */
  .brand-secondary {
    border-color: var(--color-brand-secondary-weak-text);
    background-color: var(--color-brand-secondary-weak);
    color: var(--color-brand-secondary-weak-text);
  }

  .brand-secondary-strong {
    background-color: var(--color-brand-secondary-strong);
    color: var(--color-brand-secondary-strong-text);
  }

  /* success */
  .success {
    border-color: var(--color-success-weak-text);
    background-color: var(--color-success-weak);
    color: var(--color-success-weak-text);
  }

  .success-strong {
    background-color: var(--color-success-strong);
    color: var(--color-success-strong-text);
  }

  /* info */
  .info {
    border-color: var(--color-info-weak-text);
    background-color: var(--color-info-weak);
    color: var(--color-info-weak-text);
  }

  .info-strong {
    background-color: var(--color-info-strong);
    color: var(--color-info-strong-text);
  }

  /* warning */
  .warning {
    border-color: var(--color-warning-weak-text);
    background-color: var(--color-warning-weak);
    color: var(--color-warning-weak-text);
  }

  .warning-strong {
    background-color: var(--color-warning-strong);
    color: var(--color-warning-strong-text);
  }

  /* warning high */
  .warning-high {
    border-color: var(--color-warning-high-weak-text);
    background-color: var(--color-warning-high-weak);
    color: var(--color-warning-high-weak-text);
  }

  .warning-high-strong {
    background-color: var(--color-warning-high-strong);
    color: var(--color-warning-high-strong-text);
  }

  /* danger */
  .danger {
    border-color: var(--color-danger-weak-text);
    background-color: var(--color-danger-weak);
    color: var(--color-danger-weak-text);
  }

  .danger-strong {
    background-color: var(--color-danger-strong);
    color: var(--color-danger-strong-text);
  }
}
