@layer components {
  .callout {
    display: flex;
    align-items: center;
    padding: var(--spacing-2xs) var(--spacing-sm);
    border: 1px solid transparent;
    border-radius: var(--radius-sm);

    &.inherit-text {
      color: inherit;
    }
  }

  .side-border {
    border-left: var(--spacing-2xs) solid transparent;
  }

  .centered {
    display: flex;
    align-items: center;
  }

  .pre-item {
    margin-right: var(--spacing-2xs);
    display: inline-flex;
  }

  .post-item {
    margin-left: auto;
    display: inline-flex;
  }

  /* neutral */
  .neutral {
    border-color: var(--color-neutral-text);
    background-color: var(--color-neutral-subtle2);
    color: var(--color-neutral-text);
  }

  .neutral-strong {
    background-color: var(--color-neutral);
    color: var(--color-neutral-subtle);
  }

  /* brand */
  .brand {
    border-color: var(--color-brand-text);
    background-color: var(--color-brand-subtle2);
    color: var(--color-brand-text);
  }

  .brand-strong {
    background-color: var(--color-brand);
    color: var(--color-brand-subtle);
  }

  /* brand secondary */
  .brand-secondary {
    border-color: var(--color-brand-secondary-text);
    background-color: var(--color-brand-secondary-subtle2);
    color: var(--color-brand-secondary-text);
  }

  .brand-secondary-strong {
    background-color: var(--color-brand-secondary);
    color: var(--color-brand-secondary-subtle);
  }

  /* success */
  .success {
    border-color: var(--color-success-text);
    background-color: var(--color-success-subtle2);
    color: var(--color-success-text);
  }

  .success-strong {
    background-color: var(--color-success);
    color: var(--color-success-subtle);
  }

  /* info */
  .info {
    border-color: var(--color-info-text);
    background-color: var(--color-info-subtle2);
    color: var(--color-info-text);
  }

  .info-strong {
    background-color: var(--color-info);
    color: var(--color-info-subtle);
  }

  /* warning */
  .warning {
    border-color: var(--color-warning-text);
    background-color: var(--color-warning-subtle2);
    color: var(--color-warning-text);
  }

  .warning-strong {
    background-color: var(--color-warning);
    color: var(--color-warning-subtle);
  }

  /* warning high */
  .warning-high {
    border-color: var(--color-warning-high-text);
    background-color: var(--color-warning-high-subtle2);
    color: var(--color-warning-high-text);
  }

  .warning-high-strong {
    background-color: var(--color-warning-high);
    color: var(--color-warning-high-subtle);
  }

  /* danger */
  .danger {
    border-color: var(--color-danger-text);
    background-color: var(--color-danger-subtle2);
    color: var(--color-danger-text);
  }

  .danger-strong {
    background-color: var(--color-danger);
    color: var(--color-danger-subtle);
  }
}
