@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@source '../../**/*.{js,jsx,ts,tsx}';

/* the tailwind theme reference standard css variables to make it easy to avoid (for multiple themes) */
@theme {
  /* we reset everything to only allow the variables in our design system */
  --*: initial;

  --animate-spin: spin 1s linear infinite;

  --color-outline: var(--color-outline);
  --color-outline-active: var(--color-outline-active);
  --color-surface-pure: var(--color-surface-pure);
  --color-surface: var(--color-surface);
  --color-surface-secondary: var(--color-surface-secondary);
  --color-surface-tertiary: var(--color-surface-tertiary);
  --color-surface-inverse: var(--color-surface-inverse);
  --color-neutral-50: var(--color-neutral-50);
  --color-neutral-100: var(--color-neutral-100);
  --color-neutral-200: var(--color-neutral-200);
  --color-neutral-300: var(--color-neutral-300);
  --color-neutral-400: var(--color-neutral-400);
  --color-neutral-500: var(--color-neutral-500);
  --color-neutral-600: var(--color-neutral-600);
  --color-neutral-700: var(--color-neutral-700);
  --color-neutral-800: var(--color-neutral-800);
  --color-neutral-900: var(--color-neutral-900);
  --color-neutral-950: var(--color-neutral-950);
  --color-neutral-weak: var(--color-neutral-weak);
  --color-neutral-weak1: var(--color-neutral-weak1);
  --color-neutral-weak-text: var(--color-neutral-weak-text);
  --color-neutral-strong: var(--color-neutral-strong);
  --color-neutral-strong1: var(--color-neutral-strong1);
  --color-neutral-strong-text: var(--color-neutral-strong-text);
  --color-neutral-text: var(--color-neutral-text);
  --color-neutral-bold: var(--color-neutral-bold);
  --color-brand-50: var(--color-brand-50);
  --color-brand-100: var(--color-brand-100);
  --color-brand-200: var(--color-brand-200);
  --color-brand-300: var(--color-brand-300);
  --color-brand-400: var(--color-brand-400);
  --color-brand-500: var(--color-brand-500);
  --color-brand-600: var(--color-brand-600);
  --color-brand-700: var(--color-brand-700);
  --color-brand-800: var(--color-brand-800);
  --color-brand-900: var(--color-brand-900);
  --color-brand-950: var(--color-brand-950);
  --color-brand-weak: var(--color-brand-weak);
  --color-brand-weak1: var(--color-brand-weak1);
  --color-brand-weak-text: var(--color-brand-weak-text);
  --color-brand-strong: var(--color-brand-strong);
  --color-brand-strong1: var(--color-brand-strong1);
  --color-brand-strong-text: var(--color-brand-strong-text);
  --color-brand-text: var(--color-brand-text);
  --color-brand-bold: var(--color-brand-bold);
  --color-brand-secondary-50: var(--color-brand-secondary-50);
  --color-brand-secondary-100: var(--color-brand-secondary-100);
  --color-brand-secondary-200: var(--color-brand-secondary-200);
  --color-brand-secondary-300: var(--color-brand-secondary-300);
  --color-brand-secondary-400: var(--color-brand-secondary-400);
  --color-brand-secondary-500: var(--color-brand-secondary-500);
  --color-brand-secondary-600: var(--color-brand-secondary-600);
  --color-brand-secondary-700: var(--color-brand-secondary-700);
  --color-brand-secondary-800: var(--color-brand-secondary-800);
  --color-brand-secondary-900: var(--color-brand-secondary-900);
  --color-brand-secondary-950: var(--color-brand-secondary-950);
  --color-brand-secondary-weak: var(--color-brand-secondary-weak);
  --color-brand-secondary-weak1: var(--color-brand-secondary-weak1);
  --color-brand-secondary-weak-text: var(--color-brand-secondary-weak-text);
  --color-brand-secondary-strong: var(--color-brand-secondary-strong);
  --color-brand-secondary-strong1: var(--color-brand-secondary-strong1);
  --color-brand-secondary-strong-text: var(--color-brand-secondary-strong-text);
  --color-brand-secondary-text: var(--color-brand-secondary-text);
  --color-brand-secondary-bold: var(--color-brand-secondary-bold);
  --color-success-50: var(--color-success-50);
  --color-success-100: var(--color-success-100);
  --color-success-200: var(--color-success-200);
  --color-success-300: var(--color-success-300);
  --color-success-400: var(--color-success-400);
  --color-success-500: var(--color-success-500);
  --color-success-600: var(--color-success-600);
  --color-success-700: var(--color-success-700);
  --color-success-800: var(--color-success-800);
  --color-success-900: var(--color-success-900);
  --color-success-950: var(--color-success-950);
  --color-success-weak: var(--color-success-weak);
  --color-success-weak1: var(--color-success-weak1);
  --color-success-weak-text: var(--color-success-weak-text);
  --color-success-strong: var(--color-success-strong);
  --color-success-strong1: var(--color-success-strong1);
  --color-success-strong-text: var(--color-success-strong-text);
  --color-success-text: var(--color-success-text);
  --color-success-bold: var(--color-success-bold);
  --color-info-50: var(--color-info-50);
  --color-info-100: var(--color-info-100);
  --color-info-200: var(--color-info-200);
  --color-info-300: var(--color-info-300);
  --color-info-400: var(--color-info-400);
  --color-info-500: var(--color-info-500);
  --color-info-600: var(--color-info-600);
  --color-info-700: var(--color-info-700);
  --color-info-800: var(--color-info-800);
  --color-info-900: var(--color-info-900);
  --color-info-950: var(--color-info-950);
  --color-info-weak: var(--color-info-weak);
  --color-info-weak1: var(--color-info-weak1);
  --color-info-weak-text: var(--color-info-weak-text);
  --color-info-strong: var(--color-info-strong);
  --color-info-strong1: var(--color-info-strong1);
  --color-info-strong-text: var(--color-info-strong-text);
  --color-info-text: var(--color-info-text);
  --color-info-bold: var(--color-info-bold);
  --color-warning-50: var(--color-warning-50);
  --color-warning-100: var(--color-warning-100);
  --color-warning-200: var(--color-warning-200);
  --color-warning-300: var(--color-warning-300);
  --color-warning-400: var(--color-warning-400);
  --color-warning-500: var(--color-warning-500);
  --color-warning-600: var(--color-warning-600);
  --color-warning-700: var(--color-warning-700);
  --color-warning-800: var(--color-warning-800);
  --color-warning-900: var(--color-warning-900);
  --color-warning-950: var(--color-warning-950);
  --color-warning-weak: var(--color-warning-weak);
  --color-warning-weak1: var(--color-warning-weak1);
  --color-warning-weak-text: var(--color-warning-weak-text);
  --color-warning-strong: var(--color-warning-strong);
  --color-warning-strong1: var(--color-warning-strong1);
  --color-warning-strong-text: var(--color-warning-strong-text);
  --color-warning-text: var(--color-warning-text);
  --color-warning-bold: var(--color-warning-bold);
  --color-warning-high-50: var(--color-warning-high-50);
  --color-warning-high-100: var(--color-warning-high-100);
  --color-warning-high-200: var(--color-warning-high-200);
  --color-warning-high-300: var(--color-warning-high-300);
  --color-warning-high-400: var(--color-warning-high-400);
  --color-warning-high-500: var(--color-warning-high-500);
  --color-warning-high-600: var(--color-warning-high-600);
  --color-warning-high-700: var(--color-warning-high-700);
  --color-warning-high-800: var(--color-warning-high-800);
  --color-warning-high-900: var(--color-warning-high-900);
  --color-warning-high-950: var(--color-warning-high-950);
  --color-warning-high-weak: var(--color-warning-high-weak);
  --color-warning-high-weak1: var(--color-warning-high-weak1);
  --color-warning-high-weak-text: var(--color-warning-high-weak-text);
  --color-warning-high-strong: var(--color-warning-high-strong);
  --color-warning-high-strong1: var(--color-warning-high-strong1);
  --color-warning-high-strong-text: var(--color-warning-high-strong-text);
  --color-warning-high-text: var(--color-warning-high-text);
  --color-warning-high-bold: var(--color-warning-high-bold);
  --color-danger-50: var(--color-danger-50);
  --color-danger-100: var(--color-danger-100);
  --color-danger-200: var(--color-danger-200);
  --color-danger-300: var(--color-danger-300);
  --color-danger-400: var(--color-danger-400);
  --color-danger-500: var(--color-danger-500);
  --color-danger-600: var(--color-danger-600);
  --color-danger-700: var(--color-danger-700);
  --color-danger-800: var(--color-danger-800);
  --color-danger-900: var(--color-danger-900);
  --color-danger-950: var(--color-danger-950);
  --color-danger-weak: var(--color-danger-weak);
  --color-danger-weak1: var(--color-danger-weak1);
  --color-danger-weak-text: var(--color-danger-weak-text);
  --color-danger-strong: var(--color-danger-strong);
  --color-danger-strong1: var(--color-danger-strong1);
  --color-danger-strong-text: var(--color-danger-strong-text);
  --color-danger-text: var(--color-danger-text);
  --color-danger-bold: var(--color-danger-bold);
  --color-dialog-background: var(--color-dialog-background);
  --color-input-background: var(--color-input-background);
  --color-input-placeholder: var(--color-input-placeholder);
  --color-overlay-background: var(--color-overlay-background);
  --color-transparent: var(--color-transparent);
  --color-text: var(--color-text);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-tertiary: var(--color-text-tertiary);
  --color-text-inverse: var(--color-text-inverse);

  --font-weight-inherit: inherit;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-family-geist: "Geist Sans", sans-serif;
  --font-family-geist-mono: "Geist Mono", sans-serif;

  --text-xs: 0.625rem;
  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-lg: 1.125rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 2.5rem;
  --text-4xl: 4rem;

  --leading-none: 0rem;
  --leading-xs: 1rem;
  --leading-sm: 1.125rem;
  --leading-base: 1.25rem;
  --leading-lg: 1.5rem;
  --leading-xl: 2rem;
  --leading-2xl: 2.5rem;
  --leading-3xl: 3.125rem;
  --leading-4xl: 5.125rem;

  --tracking-none: 0;
  --tracking-xs: 0.5;
  --tracking-sm: 0.5;
  --tracking-base: 0.25;
  --tracking-lg: 0.25;
  --tracking-xl: 0.5;
  --tracking-2xl: 0.5;
  --tracking-3xl: 0.5;
  --tracking-4xl: 0.5;

  --spacing-none: 0rem;
  --spacing-5xs: 0.125rem;
  --spacing-4xs: 0.25rem;
  --spacing-3xs: 0.375rem;
  --spacing-2xs: 0.5rem;
  --spacing-xs: 0.625rem;
  --spacing-sm: 0.75rem;
  --spacing-base: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 1.5rem;
  --spacing-2xl: 1.75rem;
  --spacing-3xl: 2rem;
  --spacing-4xl: 2.5rem;
  --spacing-5xl: 3rem;
  --spacing-6xl: 3.5rem;
  --spacing-7xl: 4rem;

  --radius-none: 0rem;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-base: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 1rem;
  --radius-full: 624.9375rem;

  --z-index-side-navigation-border: 1;
  --z-index-combobox-options: 2;
  --z-index-combobox-options-opened: 3;
  --z-index-date-picker-input-picker: 4;
  --z-index-overlay: 100;
  --z-index-over-overlay: 101;
  --z-index-drop-down: 102;
  --z-index-dialog: 103;
  --z-index-global-notifications: 104;
  --z-index-tooltip: 105;

  --opacity-none: 0;
  --opacity-non-hovered-overlay-item: 0.25;
  --opacity-overlay-weak: 0.4;
  --opacity-disabled: 0.45;
  --opacity-overlay-strong: 0.7;
  --opacity-full: 1;
}

:root {
  --color-outline: #CED4DA;
  --color-outline-active: #6C757D;
  --color-surface-pure: #FFFFFF;
  --color-surface: #FFFFFF;
  --color-surface-secondary: #F8F8F8;
  --color-surface-tertiary: #EBEBEB;
  --color-surface-inverse: #000000;
  --color-neutral-50: #FAFAFA;
  --color-neutral-100: #F4F4F5;
  --color-neutral-200: #E4E4E7;
  --color-neutral-300: #D4D4D8;
  --color-neutral-400: #9F9FA9;
  --color-neutral-500: #71717B;
  --color-neutral-600: #52525C;
  --color-neutral-700: #3F3F46;
  --color-neutral-800: #27272A;
  --color-neutral-900: #18181B;
  --color-neutral-950: #09090B;
  --color-neutral-weak: #E4E4E7;
  --color-neutral-weak1: #D4D4D8;
  --color-neutral-weak-text: #18181B;
  --color-neutral-strong: #71717B;
  --color-neutral-strong1: #52525C;
  --color-neutral-strong-text: #F9F9F9;
  --color-neutral-text: #52525C;
  --color-neutral-bold: #09090B;
  --color-brand-50: #F4F9F7;
  --color-brand-100: #DBECE6;
  --color-brand-200: #B7D8CD;
  --color-brand-300: #8BBDAE;
  --color-brand-400: #599081;
  --color-brand-500: #498374;
  --color-brand-600: #38695D;
  --color-brand-700: #30554D;
  --color-brand-800: #2A453F;
  --color-brand-900: #263B37;
  --color-brand-950: #12211F;
  --color-brand-weak: #DBECE6;
  --color-brand-weak1: #B7D8CD;
  --color-brand-weak-text: #263B37;
  --color-brand-strong: #498374;
  --color-brand-strong1: #38695D;
  --color-brand-strong-text: #F9F9F9;
  --color-brand-text: #38695D;
  --color-brand-bold: #12211F;
  --color-brand-secondary-50: #F6F4FE;
  --color-brand-secondary-100: #EEEBFC;
  --color-brand-secondary-200: #DFDAFA;
  --color-brand-secondary-300: #C8BCF6;
  --color-brand-secondary-400: #AB96EF;
  --color-brand-secondary-500: #855CE5;
  --color-brand-secondary-600: #7F4BDC;
  --color-brand-secondary-700: #7039C8;
  --color-brand-secondary-800: #5D2FA8;
  --color-brand-secondary-900: #4D288A;
  --color-brand-secondary-950: #30185D;
  --color-brand-secondary-weak: #EEEBFC;
  --color-brand-secondary-weak1: #C8BCF6;
  --color-brand-secondary-weak-text: #4D288A;
  --color-brand-secondary-strong: #855CE5;
  --color-brand-secondary-strong1: #7039C8;
  --color-brand-secondary-strong-text: #F9F9F9;
  --color-brand-secondary-text: #7F4BDC;
  --color-brand-secondary-bold: #30185D;
  --color-success-50: #F0F9F0;
  --color-success-100: #DBF1DA;
  --color-success-200: #B7E3B8;
  --color-success-300: #88CD8D;
  --color-success-400: #56B160;
  --color-success-500: #349541;
  --color-success-600: #247731;
  --color-success-700: #1D5F29;
  --color-success-800: #194C23;
  --color-success-900: #153F1E;
  --color-success-950: #061309;
  --color-success-weak: #DBF1DA;
  --color-success-weak1: #B7E3B8;
  --color-success-weak-text: #153F1E;
  --color-success-strong: #349541;
  --color-success-strong1: #247731;
  --color-success-strong-text: #F9F9F9;
  --color-success-text: #247731;
  --color-success-bold: #061309;
  --color-info-50: #F0F9FB;
  --color-info-100: #D9EFF4;
  --color-info-200: #B7DEEA;
  --color-info-300: #86C6DA;
  --color-info-400: #4DA5C3;
  --color-info-500: #3289A8;
  --color-info-600: #2C708E;
  --color-info-700: #2A5B74;
  --color-info-800: #294C61;
  --color-info-900: #264253;
  --color-info-950: #030608;
  --color-info-weak: #D9EFF4;
  --color-info-weak1: #B7DEEA;
  --color-info-weak-text: #264253;
  --color-info-strong: #3289A8;
  --color-info-strong1: #2C708E;
  --color-info-strong-text: #F9F9F9;
  --color-info-text: #2C708E;
  --color-info-bold: #030608;
  --color-warning-50: #FCFAEA;
  --color-warning-100: #F7F5CA;
  --color-warning-200: #F3EBA5;
  --color-warning-300: #E9D55B;
  --color-warning-400: #E1C02E;
  --color-warning-500: #D1A921;
  --color-warning-600: #B4851A;
  --color-warning-700: #906118;
  --color-warning-800: #784E1B;
  --color-warning-900: #66411D;
  --color-warning-950: #3B220D;
  --color-warning-weak: #F7F5CA;
  --color-warning-weak1: #F3EBA5;
  --color-warning-weak-text: #66411D;
  --color-warning-strong: #B4851A;
  --color-warning-strong1: #906118;
  --color-warning-strong-text: #F9F9F9;
  --color-warning-text: #B4851A;
  --color-warning-bold: #3B220D;
  --color-warning-high-50: #FDF7EF;
  --color-warning-high-100: #FAEBDA;
  --color-warning-high-200: #F5D4B3;
  --color-warning-high-300: #EEB783;
  --color-warning-high-400: #E69051;
  --color-warning-high-500: #E1732E;
  --color-warning-high-600: #CD5923;
  --color-warning-high-700: #AE4520;
  --color-warning-high-800: #8B3821;
  --color-warning-high-900: #71311D;
  --color-warning-high-950: #3D170D;
  --color-warning-high-weak: #FAEBDA;
  --color-warning-high-weak1: #F5D4B3;
  --color-warning-high-weak-text: #71311D;
  --color-warning-high-strong: #E1732E;
  --color-warning-high-strong1: #AE4520;
  --color-warning-high-strong-text: #F9F9F9;
  --color-warning-high-text: #CD5923;
  --color-warning-high-bold: #3D170D;
  --color-danger-50: #FFF0F2;
  --color-danger-100: #FFDDE1;
  --color-danger-200: #FFC1C8;
  --color-danger-300: #FF96A1;
  --color-danger-400: #FF5A6C;
  --color-danger-500: #FF263D;
  --color-danger-600: #FB0721;
  --color-danger-700: #EA011A;
  --color-danger-800: #AF0517;
  --color-danger-900: #900C1A;
  --color-danger-950: #4F0008;
  --color-danger-weak: #FFDDE1;
  --color-danger-weak1: #FFC1C8;
  --color-danger-weak-text: #900C1A;
  --color-danger-strong: #EA011A;
  --color-danger-strong1: #AF0517;
  --color-danger-strong-text: #F9F9F9;
  --color-danger-text: #EA011A;
  --color-danger-bold: #4F0008;
  --color-dialog-background: #FFFFFF;
  --color-input-background: #FFFFFF;
  --color-input-placeholder: #6C757D;
  --color-overlay-background: #000000;
  --color-transparent: #FFFFFF00;
  --color-text: #050505;
  --color-text-secondary: #515151;
  --color-text-tertiary: #A5A5A5;
  --color-text-inverse: #F9F9F9;

  --font-weight-inherit: inherit;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-family-geist: "Geist Sans", sans-serif;
  --font-family-geist-mono: "Geist Mono", sans-serif;

  --text-xs: 0.625rem;
  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-lg: 1.125rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 2.5rem;
  --text-4xl: 4rem;

  --leading-none: 0rem;
  --leading-xs: 1rem;
  --leading-sm: 1.125rem;
  --leading-base: 1.25rem;
  --leading-lg: 1.5rem;
  --leading-xl: 2rem;
  --leading-2xl: 2.5rem;
  --leading-3xl: 3.125rem;
  --leading-4xl: 5.125rem;

  --tracking-none: 0;
  --tracking-xs: 0.5;
  --tracking-sm: 0.5;
  --tracking-base: 0.25;
  --tracking-lg: 0.25;
  --tracking-xl: 0.5;
  --tracking-2xl: 0.5;
  --tracking-3xl: 0.5;
  --tracking-4xl: 0.5;

  --spacing-none: 0rem;
  --spacing-5xs: 0.125rem;
  --spacing-4xs: 0.25rem;
  --spacing-3xs: 0.375rem;
  --spacing-2xs: 0.5rem;
  --spacing-xs: 0.625rem;
  --spacing-sm: 0.75rem;
  --spacing-base: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 1.5rem;
  --spacing-2xl: 1.75rem;
  --spacing-3xl: 2rem;
  --spacing-4xl: 2.5rem;
  --spacing-5xl: 3rem;
  --spacing-6xl: 3.5rem;
  --spacing-7xl: 4rem;

  --radius-none: 0rem;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-base: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 1rem;
  --radius-full: 624.9375rem;

  --z-index-side-navigation-border: 1;
  --z-index-combobox-options: 2;
  --z-index-combobox-options-opened: 3;
  --z-index-date-picker-input-picker: 4;
  --z-index-overlay: 100;
  --z-index-over-overlay: 101;
  --z-index-drop-down: 102;
  --z-index-dialog: 103;
  --z-index-global-notifications: 104;
  --z-index-tooltip: 105;

  --opacity-none: 0;
  --opacity-non-hovered-overlay-item: 0.25;
  --opacity-overlay-weak: 0.4;
  --opacity-disabled: 0.45;
  --opacity-overlay-strong: 0.7;
  --opacity-full: 1;
}

[data-theme="dark"] {
  --color-outline: #667072;
  --color-outline-active: #DEEBEE;
  --color-surface-pure: #000000;
  --color-surface: #000000;
  --color-surface-secondary: #0A0A0A;
  --color-surface-tertiary: #121212;
  --color-surface-inverse: #FFFFFF;
  --color-neutral-50: #FFFFFF;
  --color-neutral-100: #FFFFFF;
  --color-neutral-200: #FFFFFF;
  --color-neutral-300: #FFFFFF;
  --color-neutral-400: #FFFFFF;
  --color-neutral-500: #FFFFFF;
  --color-neutral-600: #FFFFFF;
  --color-neutral-700: #FFFFFF;
  --color-neutral-800: #FFFFFF;
  --color-neutral-900: #FFFFFF;
  --color-neutral-950: #FFFFFF;
  --color-neutral-weak: #1F1F1F;
  --color-neutral-weak1: #2F2F2F;
  --color-neutral-weak-text: #383838;
  --color-neutral-strong: #5C5C5C;
  --color-neutral-strong1: #474747;
  --color-neutral-strong-text: #3C3C3C;
  --color-neutral-text: #FFFFFF;
  --color-neutral-bold: #FFFFFF;
  --color-brand-50: #FFFFFF;
  --color-brand-100: #FFFFFF;
  --color-brand-200: #FFFFFF;
  --color-brand-300: #FFFFFF;
  --color-brand-400: #FFFFFF;
  --color-brand-500: #FFFFFF;
  --color-brand-600: #FFFFFF;
  --color-brand-700: #FFFFFF;
  --color-brand-800: #FFFFFF;
  --color-brand-900: #FFFFFF;
  --color-brand-950: #FFFFFF;
  --color-brand-weak: #1F1F1F;
  --color-brand-weak1: #2F2F2F;
  --color-brand-weak-text: #383838;
  --color-brand-strong: #5C5C5C;
  --color-brand-strong1: #474747;
  --color-brand-strong-text: #3C3C3C;
  --color-brand-text: #FFFFFF;
  --color-brand-bold: #FFFFFF;
  --color-brand-secondary-50: #FFFFFF;
  --color-brand-secondary-100: #FFFFFF;
  --color-brand-secondary-200: #FFFFFF;
  --color-brand-secondary-300: #FFFFFF;
  --color-brand-secondary-400: #FFFFFF;
  --color-brand-secondary-500: #FFFFFF;
  --color-brand-secondary-600: #FFFFFF;
  --color-brand-secondary-700: #FFFFFF;
  --color-brand-secondary-800: #FFFFFF;
  --color-brand-secondary-900: #FFFFFF;
  --color-brand-secondary-950: #FFFFFF;
  --color-brand-secondary-weak: #1F1F1F;
  --color-brand-secondary-weak1: #2F2F2F;
  --color-brand-secondary-weak-text: #383838;
  --color-brand-secondary-strong: #5C5C5C;
  --color-brand-secondary-strong1: #474747;
  --color-brand-secondary-strong-text: #3C3C3C;
  --color-brand-secondary-text: #FFFFFF;
  --color-brand-secondary-bold: #FFFFFF;
  --color-success-50: #FFFFFF;
  --color-success-100: #FFFFFF;
  --color-success-200: #FFFFFF;
  --color-success-300: #FFFFFF;
  --color-success-400: #FFFFFF;
  --color-success-500: #FFFFFF;
  --color-success-600: #FFFFFF;
  --color-success-700: #FFFFFF;
  --color-success-800: #FFFFFF;
  --color-success-900: #FFFFFF;
  --color-success-950: #FFFFFF;
  --color-success-weak: #1F1F1F;
  --color-success-weak1: #2F2F2F;
  --color-success-weak-text: #383838;
  --color-success-strong: #5C5C5C;
  --color-success-strong1: #474747;
  --color-success-strong-text: #3C3C3C;
  --color-success-text: #FFFFFF;
  --color-success-bold: #FFFFFF;
  --color-info-50: #FFFFFF;
  --color-info-100: #FFFFFF;
  --color-info-200: #FFFFFF;
  --color-info-300: #FFFFFF;
  --color-info-400: #FFFFFF;
  --color-info-500: #FFFFFF;
  --color-info-600: #FFFFFF;
  --color-info-700: #FFFFFF;
  --color-info-800: #FFFFFF;
  --color-info-900: #FFFFFF;
  --color-info-950: #FFFFFF;
  --color-info-weak: #1F1F1F;
  --color-info-weak1: #2F2F2F;
  --color-info-weak-text: #383838;
  --color-info-strong: #5C5C5C;
  --color-info-strong1: #474747;
  --color-info-strong-text: #3C3C3C;
  --color-info-text: #FFFFFF;
  --color-info-bold: #FFFFFF;
  --color-warning-50: #FFFFFF;
  --color-warning-100: #FFFFFF;
  --color-warning-200: #FFFFFF;
  --color-warning-300: #FFFFFF;
  --color-warning-400: #FFFFFF;
  --color-warning-500: #FFFFFF;
  --color-warning-600: #FFFFFF;
  --color-warning-700: #FFFFFF;
  --color-warning-800: #FFFFFF;
  --color-warning-900: #FFFFFF;
  --color-warning-950: #FFFFFF;
  --color-warning-weak: #1F1F1F;
  --color-warning-weak1: #2F2F2F;
  --color-warning-weak-text: #383838;
  --color-warning-strong: #5C5C5C;
  --color-warning-strong1: #474747;
  --color-warning-strong-text: #3C3C3C;
  --color-warning-text: #FFFFFF;
  --color-warning-bold: #FFFFFF;
  --color-warning-high-50: #FFFFFF;
  --color-warning-high-100: #FFFFFF;
  --color-warning-high-200: #FFFFFF;
  --color-warning-high-300: #FFFFFF;
  --color-warning-high-400: #FFFFFF;
  --color-warning-high-500: #FFFFFF;
  --color-warning-high-600: #FFFFFF;
  --color-warning-high-700: #FFFFFF;
  --color-warning-high-800: #FFFFFF;
  --color-warning-high-900: #FFFFFF;
  --color-warning-high-950: #FFFFFF;
  --color-warning-high-weak: #1F1F1F;
  --color-warning-high-weak1: #2F2F2F;
  --color-warning-high-weak-text: #383838;
  --color-warning-high-strong: #5C5C5C;
  --color-warning-high-strong1: #474747;
  --color-warning-high-strong-text: #3C3C3C;
  --color-warning-high-text: #FFFFFF;
  --color-warning-high-bold: #FFFFFF;
  --color-danger-50: #FFFFFF;
  --color-danger-100: #FFFFFF;
  --color-danger-200: #FFFFFF;
  --color-danger-300: #FFFFFF;
  --color-danger-400: #FFFFFF;
  --color-danger-500: #FFFFFF;
  --color-danger-600: #FFFFFF;
  --color-danger-700: #FFFFFF;
  --color-danger-800: #FFFFFF;
  --color-danger-900: #FFFFFF;
  --color-danger-950: #FFFFFF;
  --color-danger-weak: #1F1F1F;
  --color-danger-weak1: #2F2F2F;
  --color-danger-weak-text: #383838;
  --color-danger-strong: #5C5C5C;
  --color-danger-strong1: #474747;
  --color-danger-strong-text: #3C3C3C;
  --color-danger-text: #FFFFFF;
  --color-danger-bold: #FFFFFF;
  --color-dialog-background: #1C1C1C;
  --color-input-background: #1C1C1C;
  --color-input-placeholder: #A1A1A1;
  --color-overlay-background: #000000;
  --color-transparent: #FFFFFF00;
  --color-text: #EEEEF0;
  --color-text-secondary: #BCBCBC;
  --color-text-tertiary: #ABABAB;
  --color-text-inverse: #050505;
}

/* since buttons are overridden to look like plain text, resetting the text to align to the left */
button {
  text-align: left;
}
