@import "tailwindcss";

@source '../../**/*.{js,jsx,ts,tsx}';

/* the tailwind theme reference standard css variables to make it easy to avoid (for multiple themes) */
@theme {
  /* we reset everything to only allow the variables in our design system */
  --*: initial;

  --animate-spin: spin 1s linear infinite;

  --color-outline: var(--color-outline);
  --color-outline-active: var(--color-outline-active);
  --color-surface-pure: var(--color-surface-pure);
  --color-surface: var(--color-surface);
  --color-surface-secondary: var(--color-surface-secondary);
  --color-surface-tertiary: var(--color-surface-tertiary);
  --color-neutral-subtle: var(--color-neutral-subtle);
  --color-neutral-subtle2: var(--color-neutral-subtle2);
  --color-neutral-subtle3: var(--color-neutral-subtle3);
  --color-neutral-subtle4: var(--color-neutral-subtle4);
  --color-neutral-subtle5: var(--color-neutral-subtle5);
  --color-neutral: var(--color-neutral);
  --color-neutral2: var(--color-neutral2);
  --color-neutral3: var(--color-neutral3);
  --color-neutral-bold: var(--color-neutral-bold);
  --color-neutral-text: var(--color-neutral-text);
  --color-on-neutral: var(--color-on-neutral);
  --color-brand-subtle: var(--color-brand-subtle);
  --color-brand-subtle2: var(--color-brand-subtle2);
  --color-brand-subtle3: var(--color-brand-subtle3);
  --color-brand-subtle4: var(--color-brand-subtle4);
  --color-brand-subtle5: var(--color-brand-subtle5);
  --color-brand: var(--color-brand);
  --color-brand2: var(--color-brand2);
  --color-brand3: var(--color-brand3);
  --color-brand-bold: var(--color-brand-bold);
  --color-brand-text: var(--color-brand-text);
  --color-on-brand: var(--color-on-brand);
  --color-brand-secondary-subtle: var(--color-brand-secondary-subtle);
  --color-brand-secondary-subtle2: var(--color-brand-secondary-subtle2);
  --color-brand-secondary-subtle3: var(--color-brand-secondary-subtle3);
  --color-brand-secondary-subtle4: var(--color-brand-secondary-subtle4);
  --color-brand-secondary-subtle5: var(--color-brand-secondary-subtle5);
  --color-brand-secondary: var(--color-brand-secondary);
  --color-brand-secondary2: var(--color-brand-secondary2);
  --color-brand-secondary3: var(--color-brand-secondary3);
  --color-brand-secondary-bold: var(--color-brand-secondary-bold);
  --color-brand-secondary-text: var(--color-brand-secondary-text);
  --color-on-brand-secondary: var(--color-on-brand-secondary);
  --color-success-subtle: var(--color-success-subtle);
  --color-success-subtle2: var(--color-success-subtle2);
  --color-success-subtle3: var(--color-success-subtle3);
  --color-success-subtle4: var(--color-success-subtle4);
  --color-success-subtle5: var(--color-success-subtle5);
  --color-success: var(--color-success);
  --color-success2: var(--color-success2);
  --color-info-subtle: var(--color-info-subtle);
  --color-success3: var(--color-success3);
  --color-info-subtle2: var(--color-info-subtle2);
  --color-success-bold: var(--color-success-bold);
  --color-info-subtle3: var(--color-info-subtle3);
  --color-info-subtle4: var(--color-info-subtle4);
  --color-info-subtle5: var(--color-info-subtle5);
  --color-info: var(--color-info);
  --color-info2: var(--color-info2);
  --color-warning-subtle: var(--color-warning-subtle);
  --color-warning-subtle2: var(--color-warning-subtle2);
  --color-info3: var(--color-info3);
  --color-info-bold: var(--color-info-bold);
  --color-warning-subtle3: var(--color-warning-subtle3);
  --color-info-text: var(--color-info-text);
  --color-on-info: var(--color-on-info);
  --color-warning-subtle4: var(--color-warning-subtle4);
  --color-warning-subtle5: var(--color-warning-subtle5);
  --color-warning: var(--color-warning);
  --color-warning2: var(--color-warning2);
  --color-warning-high-subtle: var(--color-warning-high-subtle);
  --color-warning-high-subtle2: var(--color-warning-high-subtle2);
  --color-warning-high-subtle3: var(--color-warning-high-subtle3);
  --color-warning-high-subtle4: var(--color-warning-high-subtle4);
  --color-warning-high-subtle5: var(--color-warning-high-subtle5);
  --color-warning-high: var(--color-warning-high);
  --color-warning-high2: var(--color-warning-high2);
  --color-warning-high3: var(--color-warning-high3);
  --color-warning-high-bold: var(--color-warning-high-bold);
  --color-warning-high-text: var(--color-warning-high-text);
  --color-on-warning-high: var(--color-on-warning-high);
  --color-danger-subtle: var(--color-danger-subtle);
  --color-warning3: var(--color-warning3);
  --color-danger-subtle2: var(--color-danger-subtle2);
  --color-danger-subtle3: var(--color-danger-subtle3);
  --color-warning-bold: var(--color-warning-bold);
  --color-warning-text: var(--color-warning-text);
  --color-on-warning: var(--color-on-warning);
  --color-danger-subtle4: var(--color-danger-subtle4);
  --color-danger-subtle5: var(--color-danger-subtle5);
  --color-danger: var(--color-danger);
  --color-danger2: var(--color-danger2);
  --color-danger3: var(--color-danger3);
  --color-danger-bold: var(--color-danger-bold);
  --color-danger-text: var(--color-danger-text);
  --color-on-danger: var(--color-on-danger);
  --color-dialog-background: var(--color-dialog-background);
  --color-input-background: var(--color-input-background);
  --color-input-placeholder: var(--color-input-placeholder);
  --color-overlay-background: var(--color-overlay-background);
  --color-transparent: var(--color-transparent);
  --color-text: var(--color-text);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-tertiary: var(--color-text-tertiary);
  --color-text-inverse: var(--color-text-inverse);
  --color-success-text: var(--color-success-text);
  --color-on-success: var(--color-on-success);

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-family-geist: "Geist Sans", sans-serif;
  --font-family-geist-mono: "Geist Mono", sans-serif;

  --text-xs: 0.625rem;
  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-lg: 1.125rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 2.5rem;
  --text-4xl: 4rem;

  --leading-none: 0rem;
  --leading-xs: 1rem;
  --leading-sm: 1.125rem;
  --leading-base: 1.25rem;
  --leading-lg: 1.5rem;
  --leading-xl: 2rem;
  --leading-2xl: 2.5rem;
  --leading-3xl: 3.125rem;
  --leading-4xl: 5.125rem;

  --tracking-none: 0;
  --tracking-xs: 0.5;
  --tracking-sm: 0.5;
  --tracking-base: 0.25;
  --tracking-lg: 0.25;
  --tracking-xl: 0.5;
  --tracking-2xl: 0.5;
  --tracking-3xl: 0.5;
  --tracking-4xl: 0.5;

  --spacing-none: 0rem;
  --spacing-5xs: 0.125rem;
  --spacing-4xs: 0.25rem;
  --spacing-3xs: 0.375rem;
  --spacing-2xs: 0.5rem;
  --spacing-xs: 0.625rem;
  --spacing-sm: 0.75rem;
  --spacing-base: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 1.5rem;
  --spacing-2xl: 1.75rem;
  --spacing-3xl: 2rem;
  --spacing-4xl: 2.5rem;
  --spacing-5xl: 3rem;
  --spacing-6xl: 3.5rem;
  --spacing-7xl: 4rem;

  --radius-none: 0rem;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-base: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 1rem;
  --radius-full: 624.9375rem;

  --z-index-side-navigation-border: 1;
  --z-index-combobox-options: 2;
  --z-index-combobox-options-opened: 3;
  --z-index-date-picker-input-picker: 4;
  --z-index-overlay: 100;
  --z-index-over-overlay: 101;
  --z-index-drop-down: 102;
  --z-index-dialog: 103;
  --z-index-global-notifications: 104;
  --z-index-tooltip: 105;

  --opacity-none: 0;
  --opacity-non-hovered-overlay-item: 0.25;
  --opacity-overlay-weak: 0.4;
  --opacity-disabled: 0.45;
  --opacity-overlay-strong: 0.7;
  --opacity-full: 1;
}

:root {
  --color-outline: #CED4DA;
  --color-outline-active: #6C757D;
  --color-surface-pure: #FFFFFF;
  --color-surface: #FFFFFF;
  --color-surface-secondary: #F8F8F8;
  --color-surface-tertiary: #EBEBEB;
  --color-neutral-subtle: #F8F9FA;
  --color-neutral-subtle2: #E9ECEF;
  --color-neutral-subtle3: #DEE2E6;
  --color-neutral-subtle4: #CED4DA;
  --color-neutral-subtle5: #ADB5BD;
  --color-neutral: #6C757D;
  --color-neutral2: #495057;
  --color-neutral3: #343A40;
  --color-neutral-bold: #212529;
  --color-neutral-text: #6C757D;
  --color-on-neutral: #FFFFFF;
  --color-brand-subtle: #F2F6F5;
  --color-brand-subtle2: #E6EEEB;
  --color-brand-subtle3: #DBEAE5;
  --color-brand-subtle4: #C2D7CF;
  --color-brand-subtle5: #A9C3BB;
  --color-brand: #5C7D74;
  --color-brand2: #476258;
  --color-brand3: #374B43;
  --color-brand-bold: #263530;
  --color-brand-text: #4D6E62;
  --color-on-brand: #FFFFFF;
  --color-brand-secondary-subtle: #FDFCFF;
  --color-brand-secondary-subtle2: #FBF8FF;
  --color-brand-secondary-subtle3: #F7EFFF;
  --color-brand-secondary-subtle4: #F3E5FF;
  --color-brand-secondary-subtle5: #EFDBFF;
  --color-brand-secondary: #8B5CF6;
  --color-brand-secondary2: #7C3AED;
  --color-brand-secondary3: #6D28D9;
  --color-brand-secondary-bold: #2E1065;
  --color-brand-secondary-text: #6D28D9;
  --color-on-brand-secondary: #FFFFFF;
  --color-success-subtle: #F7FCF7;
  --color-success-subtle2: #E8F5E8;
  --color-success-subtle3: #D4EDD4;
  --color-success-subtle4: #C6E6C6;
  --color-success-subtle5: #B8DFB8;
  --color-success: #22C55E;
  --color-success2: #16A34A;
  --color-info-subtle: #F7FBFF;
  --color-success3: #15803D;
  --color-info-subtle2: #E8F4FF;
  --color-success-bold: #052E16;
  --color-info-subtle3: #D4E8FF;
  --color-info-subtle4: #C6DFFF;
  --color-info-subtle5: #B8D6FF;
  --color-info: #0EA5E9;
  --color-info2: #0284C7;
  --color-warning-subtle: #FEFDF7;
  --color-warning-subtle2: #FDFBE8;
  --color-info3: #0369A1;
  --color-info-bold: #0C1B29;
  --color-warning-subtle3: #FBF7D4;
  --color-info-text: #0D699C;
  --color-on-info: #FFFFFF;
  --color-warning-subtle4: #F9F3C6;
  --color-warning-subtle5: #F7EFB8;
  --color-warning: #E0AC07;
  --color-warning2: #B18805;
  --color-warning-high-subtle: #FFFCF7;
  --color-warning-high-subtle2: #FEF8E8;
  --color-warning-high-subtle3: #FDF0D4;
  --color-warning-high-subtle4: #FCE7C6;
  --color-warning-high-subtle5: #FBDEB8;
  --color-warning-high: #EA580C;
  --color-warning-high2: #C2410C;
  --color-warning-high3: #9A3412;
  --color-warning-high-bold: #431407;
  --color-warning-high-text: #AC4F0D;
  --color-on-warning-high: #FFFFFF;
  --color-danger-subtle: #FFFBFB;
  --color-warning3: #916F03;
  --color-danger-subtle2: #FEF5F5;
  --color-danger-subtle3: #FDEAEA;
  --color-warning-bold: #523F01;
  --color-warning-text: #916F03;
  --color-on-warning: #FFFFFF;
  --color-danger-subtle4: #FCDEDE;
  --color-danger-subtle5: #FBD2D2;
  --color-danger: #DC2626;
  --color-danger2: #B91C1C;
  --color-danger3: #991B1B;
  --color-danger-bold: #450A0A;
  --color-danger-text: #991B1B;
  --color-on-danger: #FFFFFF;
  --color-dialog-background: #FFFFFF;
  --color-input-background: #FFFFFF;
  --color-input-placeholder: #6C757D;
  --color-overlay-background: #000000;
  --color-transparent: #FFFFFF00;
  --color-text: #100C12;
  --color-text-secondary: #515151;
  --color-text-tertiary: #A5A5A5;
  --color-text-inverse: #FFFFFF;
  --color-success-text: #1A8542;
  --color-on-success: #FFFFFF;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-family-geist: "Geist Sans", sans-serif;
  --font-family-geist-mono: "Geist Mono", sans-serif;

  --text-xs: 0.625rem;
  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-lg: 1.125rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 2.5rem;
  --text-4xl: 4rem;

  --leading-none: 0rem;
  --leading-xs: 1rem;
  --leading-sm: 1.125rem;
  --leading-base: 1.25rem;
  --leading-lg: 1.5rem;
  --leading-xl: 2rem;
  --leading-2xl: 2.5rem;
  --leading-3xl: 3.125rem;
  --leading-4xl: 5.125rem;

  --tracking-none: 0;
  --tracking-xs: 0.5;
  --tracking-sm: 0.5;
  --tracking-base: 0.25;
  --tracking-lg: 0.25;
  --tracking-xl: 0.5;
  --tracking-2xl: 0.5;
  --tracking-3xl: 0.5;
  --tracking-4xl: 0.5;

  --spacing-none: 0rem;
  --spacing-5xs: 0.125rem;
  --spacing-4xs: 0.25rem;
  --spacing-3xs: 0.375rem;
  --spacing-2xs: 0.5rem;
  --spacing-xs: 0.625rem;
  --spacing-sm: 0.75rem;
  --spacing-base: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 1.5rem;
  --spacing-2xl: 1.75rem;
  --spacing-3xl: 2rem;
  --spacing-4xl: 2.5rem;
  --spacing-5xl: 3rem;
  --spacing-6xl: 3.5rem;
  --spacing-7xl: 4rem;

  --radius-none: 0rem;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-base: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 1rem;
  --radius-full: 624.9375rem;

  --z-index-side-navigation-border: 1;
  --z-index-combobox-options: 2;
  --z-index-combobox-options-opened: 3;
  --z-index-date-picker-input-picker: 4;
  --z-index-overlay: 100;
  --z-index-over-overlay: 101;
  --z-index-drop-down: 102;
  --z-index-dialog: 103;
  --z-index-global-notifications: 104;
  --z-index-tooltip: 105;

  --opacity-none: 0;
  --opacity-non-hovered-overlay-item: 0.25;
  --opacity-overlay-weak: 0.4;
  --opacity-disabled: 0.45;
  --opacity-overlay-strong: 0.7;
  --opacity-full: 1;
}

[data-theme="dark"] {
  --color-outline: #667072;
  --color-outline-active: #DEEBEE;
  --color-surface-pure: #000000;
  --color-surface: #000000;
  --color-surface-secondary: #0A0A0A;
  --color-surface-tertiary: #121212;
  --color-neutral-subtle: #1F1F1F;
  --color-neutral-subtle2: #2F2F2F;
  --color-neutral-subtle3: #383838;
  --color-neutral-subtle4: #5C5C5C;
  --color-neutral-subtle5: #474747;
  --color-neutral: #3C3C3C;
  --color-neutral2: #FAFAFA;
  --color-neutral3: #FFFFFF;
  --color-neutral-bold: #FFFFFF;
  --color-neutral-text: #FFFFFF;
  --color-on-neutral: #F0F0F0;
  --color-brand-subtle: #03302A;
  --color-brand-subtle2: #043E36;
  --color-brand-subtle3: #054A41;
  --color-brand-subtle4: #008477;
  --color-brand-subtle5: #00766B;
  --color-brand: #007166;
  --color-brand2: #E0F2F1;
  --color-brand3: #FFFFFF;
  --color-brand-bold: #FFFFFF;
  --color-brand-text: #FFFFFF;
  --color-on-brand: #F0F0F0;
  --color-brand-secondary-subtle: #03302A;
  --color-brand-secondary-subtle2: #043E36;
  --color-brand-secondary-subtle3: #054A41;
  --color-brand-secondary-subtle4: #008477;
  --color-brand-secondary-subtle5: #00766B;
  --color-brand-secondary: #007166;
  --color-brand-secondary2: #E0F2F1;
  --color-brand-secondary3: #FFFFFF;
  --color-brand-secondary-bold: #FFFFFF;
  --color-brand-secondary-text: #FFFFFF;
  --color-on-brand-secondary: #F0F0F0;
  --color-success-subtle: #0A2F0C;
  --color-success-subtle2: #0D3E10;
  --color-success-subtle3: #114E14;
  --color-success-subtle4: #409A43;
  --color-success-subtle5: #3A8B3D;
  --color-success: #337C35;
  --color-success2: #E8F5E9;
  --color-info-subtle: #051A3C;
  --color-success3: #FFFFFF;
  --color-info-subtle2: #06214D;
  --color-success-bold: #FFFFFF;
  --color-info-subtle3: #082658;
  --color-info-subtle4: #2C88D2;
  --color-info-subtle5: #2982C9;
  --color-info: #267BBF;
  --color-info2: #E3F2FD;
  --color-warning-subtle: #2E2102;
  --color-warning-subtle2: #3C2A02;
  --color-info3: #FFFFFF;
  --color-info-bold: #FFFFFF;
  --color-warning-subtle3: #4A3503;
  --color-info-text: #FFFFFF;
  --color-on-info: #F0F0F0;
  --color-warning-subtle4: #C5982A;
  --color-warning-subtle5: #BC9228;
  --color-warning: #B18926;
  --color-warning2: #FFF8E1;
  --color-warning-high-subtle: #2E2102;
  --color-warning-high-subtle2: #3C2A02;
  --color-warning-high-subtle3: #4A3503;
  --color-warning-high-subtle4: #C5982A;
  --color-warning-high-subtle5: #BC9228;
  --color-warning-high: #B18926;
  --color-warning-high2: #FFF8E1;
  --color-warning-high3: #FFFFFF;
  --color-warning-high-bold: #FFFFFF;
  --color-warning-high-text: #FFFFFF;
  --color-on-warning-high: #F0F0F0;
  --color-danger-subtle: #330303;
  --color-warning3: #FFFFFF;
  --color-danger-subtle2: #440505;
  --color-danger-subtle3: #570505;
  --color-warning-bold: #FFFFFF;
  --color-warning-text: #FFFFFF;
  --color-on-warning: #F0F0F0;
  --color-danger-subtle4: #C62824;
  --color-danger-subtle5: #BB2622;
  --color-danger: #AC221F;
  --color-danger2: #FFEBEE;
  --color-danger3: #FFFFFF;
  --color-danger-bold: #FFFFFF;
  --color-danger-text: #FFFFFF;
  --color-on-danger: #F0F0F0;
  --color-dialog-background: #1C1C1C;
  --color-input-background: #1C1C1C;
  --color-input-placeholder: #A1A1A1;
  --color-overlay-background: #000000;
  --color-transparent: #FFFFFF00;
  --color-text: #F0F0F0;
  --color-text-secondary: #BCBCBC;
  --color-text-tertiary: #ABABAB;
  --color-text-inverse: #000000;
  --color-success-text: #FFFFFF;
  --color-on-success: #F0F0F0;
}

/* since buttons are overridden to look like plain text, resetting the text to align to the left */
button {
  text-align: left;
}
