.row-first-data {
  border-top-left-radius: var(--radius-base);
  border-bottom-left-radius: var(--radius-base);
}

.row-last-data {
  border-top-right-radius: var(--radius-base);
  border-bottom-right-radius: var(--radius-base);
}
