@layer components {
  .empty-indicator {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--spacing-3xl);
    border: 1px solid var(--color-outline);
    border-radius: var(--radius-base);

    &.no-border {
      border: none;
    }
  }
}
